@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@200&display=swap');

:root {
  --primary-color: rgba(13,110,139, 0.75);
  --overlay-color: rgba(24,39,51,0.85);
  --menu-speed: 0.75s;
}

* {
  font-family: 'Azeret Mono', monospace;
  padding: 0;
  margin: 0;
}

.home {
  background-color: var(--primary-color);
  height: 100vh;
}